.home-link
{
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    color: darkslategrey;
}

.list
{
    display: flex;
    background-color: aquamarine;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.Title
{
    position: relative;
    background-color: aquamarine;
    height: 150px;  
}

#First
{
    font-size: 50px;
    text-align: center;
    padding: 30px;
    margin: 0;
    position:relative;
    bottom: 160px;
    
}

.rowdies-regular 
{
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.Logo
{   
    display: inline;
    background-color: aquamarine;
    margin: 0;
    padding: 10px;
    width: 170px;
}

footer
{
    background-color: aquamarine;
    color: darkslategrey;
    padding: 20px;
    text-align:center;
    float:none;        
}

.gridbox
{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.design
{
    width: 100%;
    aspect-ratio: 1/1.2;
}

.box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    text-align: center;
    justify-content: space-between;
}

.click
{
    margin: 10px;
    color: black;
    background-color:aquamarine;
}

.Pages
{
    text-align: center;
}

@media(max-width:1200px) and (min-width:750px)
{
    .Logo
    {
        width: 130px;
    }

    #First
    {
        bottom: 150px;
    }

    .gridbox
    {
        grid-template-columns: auto auto auto;
    }
}

@media(max-width:750px) and (min-width:650px)
{
    .Logo
    {
        width: 80px;
    }

    #First
    {
        bottom: 110px;
    }

    .Title
    {
        height: 120px;
    }

    .gridbox
    {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:650px) and (min-width:400px)
{
    .Logo
    {
        width: 80px;
    }

    #First
    {
        bottom: 110px;
    }

    .Title
    {
        height: 120px;
    }

    .gridbox
    {
        grid-template-columns: auto auto;
    }
}