@media (max-width: 1536px)
{
    li
    {
        display: inline;
        margin-right: 30px;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
        color: darkslategrey;
    }

    ul
    {
        background-color: aquamarine;
        margin: 0;
        padding: 0;
    }

    .Title
    {
        position: relative;
        background-color: aquamarine;
        height: 115px;
    }
    
    #First
    {
        text-align: center;
        padding: 30px;
        margin: 0;
        font-size: 70px;
        position:relative;
        left: px;
        bottom: 150px;
    }

    .rowdies-regular {
        font-family: "Rowdies", sans-serif;
        font-weight: 400;
        font-style: normal;
        position: relative;
    }

    .Logo
    {   
        height: 150px;
        display: inline;
        background-color: aquamarine;
        margin: 0;
        padding: 10px;
    }

    nav
    {
        text-align: center;
        background-color: aquamarine;
        padding: 60px;
        padding-bottom: 20px;
    }

    .home-link
    {
        text-decoration: none;
        color: darkslategrey;
    }

    footer
    {
        background-color: aquamarine;
        color: darkslategrey;
        padding: 20px;
        text-align: center;
    }

    .Design > img
    {
        height: 380px;
    }

    .Grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .Design
    {
        border-style: solid;
        border-color: black solid;
    }
}

@media (max-width: 1000px)
{
    li
    {
        display: inline;
        margin-right: 30px;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
        color: darkslategrey;
    }

    ul
    {
        background-color: aquamarine;
        margin: 0;
        padding: 0;
    }

    .Title
    {
        position: relative;
        background-color: aquamarine;
        height: 115px;
    }
    
    #First
    {
        text-align: center;
        padding: 30px;
        margin: 0;
        font-size: 40px;
        position:relative;
        left: 50px;
        bottom: 150px;
    }

    .rowdies-regular {
        font-family: "Rowdies", sans-serif;
        font-weight: 400;
        font-style: normal;
        position: relative;
    }

    .Logo
    {   
        height: 150px;
        display: inline;
        background-color: aquamarine;
        margin: 0;
        padding: 10px;
    }

    nav
    {
        text-align: center;
        background-color: aquamarine;
        padding: 60px;
        padding-bottom: 20px;
    }

    .home-link
    {
        text-decoration: none;
        color: darkslategrey;
    }

    footer
    {
        background-color: aquamarine;
        color: darkslategrey;
        padding: 20px;
        text-align: center;
    }

    .Design > img
    {
        height: 320px;
    }

    .Grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
    }

    .Design
    {
        border-style: solid;
        border-color: black solid;
    }
}

@media (max-width: 700px)
{
    li
    {
        display: inline;
        margin-right: 30px;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
        color: darkslategrey;
    }

    ul
    {
        background-color: aquamarine;
        margin: 0;
        padding: 0;
    }

    .Title
    {
        position: relative;
        background-color: aquamarine;
        height: 115px;
    }
    
    #First
    {
        text-align: center;
        padding: 30px;
        margin: 0;
        font-size: 40px;
        position:relative;
        left: 50px;
        bottom: 150px;
    }

    .rowdies-regular {
        font-family: "Rowdies", sans-serif;
        font-weight: 400;
        font-style: normal;
        position: relative;
    }

    .Logo
    {   
        height: 150px;
        display: inline;
        background-color: aquamarine;
        margin: 0;
        padding: 10px;
    }

    nav
    {
        text-align: center;
        background-color: aquamarine;
        padding: 60px;
        padding-bottom: 20px;
    }

    .home-link
    {
        text-decoration: none;
        color: darkslategrey;
    }

    footer
    {
        background-color: aquamarine;
        color: darkslategrey;
        padding: 20px;
        text-align: center;
    }

    .Design > img
    {
        height: 320px;
    }

    .Grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
    }

    .Design
    {
        border-style: solid;
        border-color: black solid;
    }
}

@media (max-width: 480px)
{
    ul
    {
        background-color: aquamarine;
        margin: 0;
        padding: 0;
        padding-top: 10px;
    }

    .Title
    {
        position: relative;
        background-color: aquamarine;
        height: 10px;
    }
    
    #First
    {
        text-align: center;
        padding: 30px;
        margin: 0;
        font-size: 20px;
        position:relative;
        left: 10px;
        bottom: 80px;
    }

    .rowdies-regular {
        font-family: "Rowdies", sans-serif;
        font-weight: 400;
        font-style: normal;
        position: relative;
    }

    .Logo
    {   
        height: 50px;
        display: inline;
        background-color: aquamarine;
        margin: 0;
        padding: 10px;
    }

    nav
    {
        text-align: center;
        background-color: aquamarine;
        padding: 60px;
        padding-bottom: 20px;
        font-size: 10px;
    }

    .home-link
    {
        text-decoration: none;
        color: darkslategrey;
    }

    

    

    .Grid
    {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        float: left;
    }

    .Grid_2
    {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        float: right;
    }

    .Design_2
    {
        border-style: solid;
        border-color: black;
    }

    .Design_3
    {
        border-style: solid;
        border-color: black;
    }

    .Design_4
    {
        border-style: solid;
        border-color: black;
    }

    .Design
    {
        border-style: solid;
        border-color: black;
    }

    .Page > p
    {
        text-align: center;
        display: inline;
    }
    
    .Design > img
    {
        flex: 1;
        height: 170px;
    }

    .Design_2 > img
    {
        flex: 1;
        height: 170px;
    }

   .Design_3 > img
    {
        flex: 1;
        height: 180px;
    }

    .Design_4 > img
    {
        flex: 1;
        height: 180px;
    }

    .Page
    {
        size:px;
        float:none;
    }

    footer
    {
        background-color: aquamarine;
        color: darkslategrey;
        padding: 20px;
        text-align: center;
        float:none;
    }
}