.home-link
{
    text-decoration: none;
    color: darkslategrey;
    margin-right: 25px;
    flex: 1;
}

li
{
    display:inline;
}

nav
{
    background-color: aquamarine;
    padding: 60px;
    padding-bottom: 20px;
}

ul
{
    display: flex;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.Title
{
    position: relative;
    background-color: aquamarine;
}

.Design > img
{
    height: 100%;
    width: 100%;
}

#First
{
    text-align: center;
    padding: 30px;
    margin: 0;
    position:relative;
    
}

.rowdies-regular 
{
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.Logo
{   
    display: inline;
    background-color: aquamarine;
    margin: 0;
    padding: 10px;
}

footer
{
    background-color: aquamarine;
    color: darkslategrey;
    padding: 20px;
    text-align:center;
    float:none;        
}

.Page > p
    {
        align-items: center;
        text-align: center;
        display: inline;
        float:none;
    }

@media (max-width: 900px)
{
    .Title
    {
        height: 115px;
    }
    
    #First
    {
        font-size: 40px;
        left: 50px;
        bottom: 150px;
    }

    ul
    {
        margin-left: 30%;
    }

    .Logo
    {   
        height: 150px;
    }

    .Row
    {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .Design
    {
        flex: 1;
        width: 50%;
        border-style: solid;
        border-color: black;
        width: 100%;
    }
}

@media (max-width: 500px)
{

    .Title
    {
        height: 10px;
    }
    
    ul
    {
        margin-left: 40px;
    }

    #First
    {
        font-size: 20px;
        left: 10px;
        bottom: 80px;
    }

    .Logo
    {   
        height: 50px;
    }

    .Row
    {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .Design
    {
        flex: 1;
        width: 50%;
        border-style: solid;
        border-color: black;
        width: 100%;
    }
}